@{
	#region get claim infos
	var claimInfos = new Dictionary<string, string>();
	var ignoredClaimTypes = new string[] { "iss", "aud" };  // iss: issue | aud: audience

	foreach(var claim in Context.User.Claims)
		// don't get ignored claim types
		if(!ignoredClaimTypes.Contains(claim.Type))
			claimInfos[claim.Type] = claim.Value;
	#endregion

	var serializedClaimInfos = Json.Serialize(claimInfos);
}


<!DOCTYPE html>
<html>
	<head>
		<title>Begüm Yachting</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Begüm Yachting Admin Panel">	

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="~/css/bootstrap.min.css" >
		<link rel='stylesheet' href="~/css/style.css"  type='text/css' />
		<link rel="stylesheet" href="~/css/style-responsive.css" />
		<link rel="stylesheet" href="~/css/miar_mainLayout.css"/>

		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="~/js/jquery2.0.3.min.js"></script>
	</head>
	<body>
		<section id="container">
			@*page menubar*@
			<header class="header fixed-top clearfix">
				@*logo*@
				<div class="brand">
					<a href="/userDisplay" class="logo">
						<img id="img_begumLogo" src="~/images/begumLogo2.png"/>
					</a>
					<div class="sidebar-toggle-box">
						<div id="div_sidebarMenuButton" class="fa fa-bars"></div>
					</div>
				</div>
				
				@*menubar*@
				<div class="top-nav clearfix">
					<ul class="nav pull-right top-menu">
						<!-- search bar start -->
						@*<li>
							<input id="inpt_searchBar" type="text" class="form-control search" />
						</li>*@
						<!-- search bar end -->
						@*notifications*@
						@*<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<img src="/images/notification.png"/>
								<span class="username">Bildirimler</span>
								<b class="caret"></b>
							</a>
							<ul id="ul_notification" class="dropdown-menu extended"></ul>
						</li>*@

						@*user*@
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<img src="/images/user.png"/>
								<span id="spn_username" class="username"></span>
								<b class="caret"></b>
							</a>
							<ul id="ul_profileOptions" class="dropdown-menu extended logout">
								@*profile*@
								<li>
									<a href="/userProfile"> <i class="fa fa-user"></i>Profil</a>
								</li>
								@*logout*@
								<li>
									<a id="a_logout" href="/logout"> <i class="fa fa-close"></i>Çıkış Yap</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</header>
			
			@*sidebar menu*@
			<aside>
				<div id="sidebar" class="nav-collapse">
					<div class="leftside-navigation">
						<ul class="sidebar-menu">
							@*homepage*@
							@*
							<li>
								<a href="/homepage">
									<i class="fa fa-settings"></i>
									<span>Anasayfa</span>
								</a>
							</li>
							*@
							
							@*users*@
							<li id="li_user_create" class="li_dropdown">
								<a href="#">
									<i class="fa fa-settings"></i>
									<span>Kullanıcılar</span>
									<b class="caret"></b>
								</a>
							</li>
							<li id="li_user_create_submenu" class="li_submenu" hidden>
								<ul>
									<li>
										<a href="/userCreate">
											<i class="fa fa-settings"></i>
											<span>Yeni Kullanıcı</span>
										</a>
									</li>
									<li>
										<a href="/userDisplay">
											<i class="fa fa-settings"></i>
											<span>Kayıtlı Kullanıcılar</span>
										</a>
									</li>
								</ul>
							</li>
					
							@*orders*@
							<li id="li_orders" class="li_dropdown">
								<a href="#">
									<i class="fa fa-settings"></i>
									<span>Siparişler</span>
									<b class="caret"></b>
								</a>
							</li>
							<li id="li_orders_submenu" class="li_submenu" hidden>
								<ul>
									<li>
										<a href="/provisionOrder">
											<i class="fa fa-settings"></i>
											<span>Genel Sipariş</span>
										</a>
									</li>
									<li>
										<a href="/flowerOrder">
											<i class="fa fa-settings"></i>
											<span>Çiçek Siparişi</span>
										</a>
									</li>
									<li>
										<a href="/technicalAssistanceAndSparePartOrder">
											<i class="fa fa-settings"></i>
											<span>Teknik Yardım / Yedek Parça</span>
										</a>
									</li>
								</ul>
							</li>
							
							@*demands*@
							<li id="li_demands" class="li_dropdown">
								<a href="#">
									<i class="fa fa-settings"></i>
									<span>Talepler</span>
									<b class="caret"></b>
								</a>
							</li>
							<li id="li_demands_submenu" class="li_submenu" hidden>
								<ul>
									<li>
										<a href="/fuelPurchaseDemand">
											<i class="fa fa-settings"></i>
											<span>Yakıt Alma</span>
										</a>
									</li>
									<li>
										<a href="/checkinAndCheckoutDemand">
											<i class="fa fa-settings"></i>
											<span>Yat Giriş / Çıkış İşlemleri</span>
										</a>
									</li>
									<li>
										<a href="/berthReservationDemand">
											<i class="fa fa-settings"></i>
											<span>Marina Rezervasyonu</span>
										</a>
									</li>
									<li>
										<a href="/vipTransferDemand">
											<i class="fa fa-settings"></i>
											<span>VIP Transfer</span>
										</a>
									</li>
									<li>
										<a href="/excursionDemand">
											<i class="fa fa-settings"></i>
											<span>Gezi İsteği</span>
										</a>
									</li>
									<li>
										<a href="/conciergeServiceDemand">
											<i class="fa fa-settings"></i>
											<span>Konsiyerj Hizmeti</span>
										</a>
									</li>
									<li>
										<a href="/securityAndProtectionServiceDemand">
											<i class="fa fa-settings"></i>
											<span>Güvenlik Ve Koruma Hizmeti</span>
										</a>
									</li>
								</ul>
							</li>

						</ul>
					</div>
				</div>
			</aside>
			
			@*main content*@
			<section id="main-content">
				<span id="spn_eventManager"></span>
				
				@*main content*@
				<section class="wrapper">
					@RenderBody()
				</section>
				
				@*footer*@
				<div class="footer">
					<div class="wthree-copyright">
						<p>
							<span id="spn_footerInfo">© 2024 Tüm hakları saklıdır. | Designed by </span>
							<a href="https://mostidea.com.tr">MostIdea</a>
						</p>
					</div>
				</div>
			</section>
		</section>

		<script>
			const baseApiUrl = "https://localhost:7272";  // for local
			//const baseApiUrl = "http://192.168.200.1:5553"  // for iis in my pc
			const language = "TR";
			const accountInfos = @serializedClaimInfos;
			const jwtToken = "Bearer " + accountInfos.token;  // get token from claims
			const searchBarPlaceHolderByLanguages = {
				"TR": "Ara",
				"EN": "Search"
			};
			const profileOptionsByLanguages = {
				"TR": {
					"profile": {
						"icon": "fa fa-user",
						"label": " Profil",
						"href": `/profileOption/profile`
					},
					"logout": {
						"icon": "fa fa-close",
						"label": " Çıkıp Yap",
						"href": "/authentication/logout"
					},
				},
				"EN": {
					"profile": {
						"icon": "fa fa-user",
						"label": " Profile",
						"href": `/profileOption/profile`
					},
					"logout": {
						"icon": "fa fa-close",
						"label": " Logout",
						"href": "/authentication/logout"
					},
				}
			}
			const sidebar_mainMenus_byLanguages = {
				"TR": {
					"users": {
						"icon": "fa fa-book",
						"label": "Kullanıcılar",
						"href": "#"
					},
					"machines": {
						"icon": "fa fa-book",
						"label": "Makineler",
						"href": "#"
					},
					"sliders": {
						"icon": "fa fa-cog",
						"label": "Sliderlar",
						"href": "/slider/index"
					},
					"forms" : {
						"icon": "fa fa-cog",
						"label": "Formlar",
						"href": "#"
					}
				},
				"EN": {
					"users": {
						"icon": "fa fa-book",
						"label": "Users",
						"href": "#"
					},
					"machines": {
						"icon": "fa fa-book",
						"label": "Machines",
						"href": "#"
					},
					"sliders": {
						"icon": "fa fa-cog",
						"label": "Sliders",
						"href": "/slider/index"
					},
					"forms" : {
						"icon": "fa fa-cog",
						"label": "Forms",
						"href": "#"
					}
				}
			};
			const sidebar_subMenus_byLanguages = {
				"TR": {
					"users": {
						"newUser": {
							"label": "Yeni Kullanıcı",
							"href": "/user/create",
						},
						"registeredUsers": {
							"label": "Kayıtlı Kullanıcılar",
							"href": "/user/display/all",
						}
					},
					"machines": {
						"newMachines": {
							"label": "Yeni Makine",
							"href": "/machine/create",
						},
						"registeredMachines": {
							"label": "Kayıtlı Makineler",
							"href": "/machine/display/all",
						}
					},
					"forms": {
						"generalCommunication": {
							"label": "Genel iletişim Formu",
							"href": "/form/generalCommunication"
						},
						"getOffer": {
							"label": "Teklif Alma Formu",
							"href": "/form/getOffer"
						},
						"renting": {
							"label": "Kiralama Formu",
							"href": "/form/renting"
						}
					}
				},
				"EN": {
					"users": {
						"newUser": {
							"label": "New User",
							"href": "/user/create",
						},
						"registeredUsers": {
							"label": "Registered Users",
							"href": "/user/display/all",
						}
					},
					"machines": {
						"newMachines": {
							"label": "New Machine",
							"href": "/machine/create",
						},
						"registeredMachines": {
							"label": "Registered Machines",
							"href": "/machine/display/all",
						}
					},
					"forms": {
						"generalCommunication": {
							"label": "General Communication Form",
							"href": "/form/generalCommunication"
						},
						"getOffer": {
							"label": "Get Offer Form",
							"href": "/form/getOffer"
						},
						"renting": {
							"label": "Renting Form",
							"href": "/form/renting"
						}
					}
				}
			};
			const footerInfoByLanguages = {
				"TR": "© 2023 Tüm hakları saklıdır. | Designed by ",
				"EN": "© 2023 All rights reserved. | Designed by "
			};
			const sidebar_width = 240;
			const resultLabel_errorColor = "red";
			const resultLabel_successColor = "rgb(16, 155, 16)";  // green
			const spn_eventManager = $("#spn_eventManager");
			const localKeys = {
				accountInfos: "accountInfos",
				username: "username",
				roleNames: "roleNames"
			}
			const headerKeys = {
				demand: {
					fuelPurchase: "Demand-FuelPurchase",
					checkinAndCheckout: "Demand-CheckinAndCheckout",
					berthReservation: "Demand-BerthReservation",
					vipTransfer: "Demand-VipTransfer",
					excursion: "Demand-Excursion",
					conciergeService: "Demand-ConciergeService",
					securityAndProtectionService: "Demand-SecurityAndProtectionService"
				},
				order: {
					provision: "Order-Provision",
					flower: "Order-Flower",
					technicalAssistanceAndSparePart: "Order-TechnicalAssistanceAndSparePart"
				}
			};
			const langPack_partnerInfoMessages = {
				"fileLoading": {
					"TR": "dosya yükleniyor...",
					"EN": "file loading...",
				}
			}
			const langPack_partnerErrorMessages = {
				"invalidFileType": {
					"TR": "geçersiz dosya tipi",
					"EN": "invalid file type"
				},
				"nullArguments": {
					"TR": "herhangi bir değişiklik yapılmadı",
					"EN": "no changes were made"
				},
				"noPermission": {
					"TR": "yetkiniz yok",
					"EN": "you don't have permission"
				},
				"anErrorOccured": {
					"TR": "bir hata oluştu", 
					"EN": "an error occured"
				}
			}
		</script>
		<script type="module" src="~/js/miar_mainLayout.js"></script>
		<script src="~/js/bootstrap.js"></script>
		<script src="~/js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="~/js/scripts.js"></script>
		<script src="~/js/jquery.slimscroll.js"></script>
		<script src="~/js/jquery.nicescroll.js"></script>
		<script src="~/js/jquery.scrollTo.js"></script>
	</body>
</html>