<html lang="en">
	<head>
		<title>BEGÜM YAT</title>
		<meta charset="utf-8"/> 
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="keyword" content="begüm yachting, begüm yat, admin panel"/>
		<meta name="description" content="begüm yachting admin panel" />

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="~/css/login.css">
	</head>
	<body>
		<div>
			@RenderBody()
		</div>

		<script src="~/js/jquery.min.js"></script>
		<script src="~/js/popper.js"></script>
		<script src="~/js/bootstrap.min.js"></script>
	</body>
</html>


<script>
	//const baseApiUrl = "https://localhost:7272";  // for local
	//const baseApiUrl = "http://192.168.200.1:5553"  // for iis in my pc
	const baseApiUrl = "http://104.247.163.183:5553"  // for iis in real server
	const resultLabel = {
		"errorColor": "red",
		"successColor": "green",
		"defaultMarginT": "30px"
	}
</script>


