/*///////////// DISPLAY PAGE /////////////*/
#div_passedTime {
    color: red;
    font-weight: bold;
}

.article h2, h3, h4 {
    font-weight: bold;
}


/*//////////// UPDATE PAGE ////////////*/
#btn_accept {
    background-color: forestgreen;
}

#btn_reject {
}

#div_userUpdate textarea {
    min-height: 200px
}


#div_senderInfos {
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #4136f1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

    #div_senderInfos:hover {
        background-color: lightgray
    }

    #div_senderInfos img {
        width: 100px;
        height: 100px;
    }

    #div_senderInfos h4 {
        margin-top: 10px;
        font-size: 16px
    }
