/*///////////// DISPLAY PAGE /////////////*/
.article h2, h3, h4 {
    font-weight: bold;
}

#div_passedTime {
    color: red;
    font-weight: bold;
}


/*//////////// UPDATE PAGE ////////////*/
#btn_accept {
    background-color: forestgreen;
}

#btn_reject {
}

#txt_notes {
    min-height: 200px;
    max-height: 500px;
    resize: vertical;
}

.div_infos {
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #4136f1;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}
    .div_infos:hover {
    background-color: lightgray
}

    .div_infos img {
        width: 100px;
        height: 100px;
    }

    .div_infos h4 {
        margin-top: 10px;
        font-size: 16px
    }

#div_yachtName{
    margin-top: 40px
}

#slct_article_submenu_display {
    width: 130px;
}
