.paginationButtons {
    width: 35px;
    height: 29px;
    text-align: center;
}

#a_paginationCurrent {
    width: 45px;
    padding: 0px;
    margin-right: 2px;
}

    #a_paginationCurrent input {
        width: 45px;
        height: 27.5px;
        border-color: white;
        text-align: center;
    }

#a_separator {
    width: 20px;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bolder;
}

    #a_separator:hover {
        cursor: pointer;
    }

#a_infoMessage {
    padding: 0 10px 0 0;
    width: 40px;
    background-color: transparent;
}

    #a_infoMessage input {
        width: 30px;
        height: 27.5px;
        background-image: url("../images/info.png");
        background-color: transparent;
        background-size: cover;
        border-width: 0px;
        border-color: transparent;
        position: relative;
        bottom: 1.1px;
    }
