#img_begumLogo {
    width: 185px;
    height: 50px;
}

.li_submenu li {
    background-color: #160146
}

.li_submenu li:hover{
    font-weight: bold
}

.li_dropdown b{
    float: right;
    position: relative;
    top:7px;
    right: 10px;
}