#img_begumLogo {
    width: 300px;
    height: 80px;
}

#btn_show {
    border-style: none;
    width: 50px;
}

    #btn_show img {
        width: 25px
    }

#div_userIcon {
    background-color: #170065
}

#div_createAccount {
    text-align: center;
}

    #div_createAccount a {
        color: #170065
    }

#btn_login :disabled {
    cursor: no-drop
}
