@{
	Layout = "LoginLayout";
}

<link rel="stylesheet" href="~/css/miar_login.css">


@*login*@
<section class="ftco-section">
	<div class="container">
		@*title*@
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h1 class="heading-section">
					<img id="img_begumLogo" src="~/images/begumLogo3.png"/>
				</h1>
			</div>
		</div>

		@*form*@
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-5">
				<div class="login-wrap p-4 p-md-5">
					@*icon*@
					@*<div id="div_userIcon" class="icon d-flex align-items-center justify-content-center">
						<span class="fa fa-user-o"></span>
					</div>*@

					<form action="#" class="login-form" style="margin-top:40px">
						<div id="div_login">
							@*email*@
		      				<div class="form-group">
		      					<input type="text" class="form-control rounded-left  inpt_email" placeholder="Email" required>
		      				</div>

							@*password*@
							<div class="form-group d-flex">
								<input type="password" class="form-control rounded-left  inpt_password" placeholder="Şifre" required>
								<button type="button" class="btn_show">
									<img src="~/images/showPassword.png"/>
								</button>
							</div>
							<div class="form-group d-md-flex">
	            				@*remember me*@
								<div class="w-50">
	            					<label class="checkbox-wrap checkbox-primary">
										<span id="spn_rememberMe">Beni Hatırla</span>
										<input id="chck_rememberMe" type="checkbox" checked>
										<span class="checkmark"></span>
									</label>
								</div>

								@*forgot password?*@
								<div class="w-50 text-md-right">
									<a id="a_forgotPassword" href="/authentication/forgotPassword">Şifremi Unuttum?</a>
								</div>
							</div>
						</div>
						<div id="div_validationType" hidden>
							@*validation type dropdown*@
							<div class="form-group">
								<select id="slct_chooseValidationType" class="form-control">
									<option value="info" selected>Doğrulama Tipi</option>
									<option value="email">Email</option>
								</select>
							</div>

							@*email input*@
		      				<div class="form-group">
		      					<input type="text" class="form-control rounded-left  inpt_email" placeholder="" required>
		      				</div>
						</div>
						<div id="div_validationCode" hidden>
							@*validation code input*@
		      				<div class="form-group">
		      					<input id="inpt_validationCode" type="text" class="form-control rounded-left" placeholder="" required>
		      				</div>
						</div>
						<div id="div_newPassword" hidden>
							@*new password input*@
								<div class="form-group d-flex">
								<input type="password" class="form-control rounded-left  inpt_password" placeholder="Yeni Şifre" required>
								<button type="button" class="btn_show">
									<img src="~/images/showPassword.png"/>
								</button>
							</div>

							@*new password confirm input*@
		      				<div class="form-group d-flex">
								<input type="password" class="form-control rounded-left  inpt_password" placeholder="Yeni Şifre Tekrar" required>
								<button type="button" class="btn_show">
									<img src="~/images/showPassword.png"/>
								</button>
							</div>
						</div>
							
						@*signup message*@
						<div id="div_signinOrSignupMessage" class="form-group">
							<span>Hesabın yok mu?</span> 
							<a href="#">Kayıt Ol</a>
		      			</div>

						@*error message*@ 
						<div class="form-group" style="text-align:center">
							<img id="img_loading" src="~/images/loading.gif" style="width:40px; height:40px; margin-top:30px" hidden/>
							<p id="p_resultLabel"></p>
						</div>

						@*submit button*@
						<div class="form-group">
	            			<button id="btn_submit" type="button" class="btn btn-primary rounded submit p-3 px-5">GÖNDER</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


<script></script>
<script type="module" src="~/js/miar_login.js"></script>