@{
	Layout = "LoginLayout";
}

<link rel="stylesheet" href="~/css/miar_login.css">


@*login*@
<section class="ftco-section">
	<div class="container">
		@*title*@
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h1 class="heading-section">
					<img id="img_begumLogo" src="~/images/begumLogo3.png"/>
				</h1>
			</div>
		</div>

		@*form*@
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-5">
				<div class="login-wrap p-4 p-md-5">
					@*icon*@
					@*<div id="div_userIcon" class="icon d-flex align-items-center justify-content-center">
						<span class="fa fa-user-o"></span>
					</div>*@

					<form action="#" class="login-form" style="margin-top:40px">
						@*email*@
		      			<div class="form-group">
		      				<input id="inpt_email" type="text" class="form-control rounded-left" placeholder="Email" required>
		      			</div>

						@*password*@
						<div class="form-group d-flex">
							<input id="inpt_password" type="password" class="form-control rounded-left" placeholder="Şifre" required>
							<button id="btn_show" type="button">
								<img src="~/images/showPassword.png"/>
							</button>
						</div>

						<div class="form-group d-md-flex">
	            			@*remember me*@
							<div class="w-50">
	            				<label class="checkbox-wrap checkbox-primary">
									<span id="spn_rememberMe">Beni Hatırla</span>
									<input id="check_rememberMe" type="checkbox" checked>
									<span class="checkmark"></span>
								</label>
							</div>

							@*forgot password?*@
							<div class="w-50 text-md-right">
								<a id="a_forgotPassword" href="#">Şifremi Unuttum?</a>
							</div>
						</div>

						@*create account message*@
						<div id="div_createAccount" class="form-group">
							<span>Hesabın yok mu? <a href="/authentication/register">Oluştur</a></span>
						</div>

						@*error message*@ 
						<div class="form-group" style="text-align:center">
							<img id="img_loading" src="~/images/loading.gif" style="width:40px; height:40px; margin-top:30px" hidden/>
							<p id="p_resultLabel"></p>
						</div>

						@*login button*@
						<div class="form-group">
	            			<button id="btn_login" type="button" class="btn btn-primary rounded submit p-3 px-5">Giriş Yap</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<script></script>
<script type="module" src="~/js/miar_login.js"></script>