@{
	Layout = "LoginLayout";
}

<link rel="stylesheet" href="~/css/miar_register.css"/>


<section class="ftco-section">
	<div class="container">
		@*title*@
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h1 class="heading-section">
					<img id="img_begumLogo" src="~/images/begumLogo3.png"/>
				</h1>
			</div>
		</div>

		@*form*@
		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-5">
				<div class="login-wrap p-4 p-md-5">
					<form action="#" class="login-form" style="margin-top:40px">
						<div id="div_chooseValidationType">
							@*phone and email dropdown*@
							<div class="form-group">
								<select id="slct_chooseValidationType" class="form-control">
									<option value="info" selected>Doğrulama Tipi</option>
									<option value="email">Email</option>
									<option value="phone">Telefon Numarası</option>
								</select>
							</div>
						
							@*email/phone*@
		      				<div class="form-group">
		      					<input id="inpt_validation" type="text" class="form-control rounded-left" placeholder="" required>
		      				</div>

							@*login message*@
							<div class="form-group" id="div_login">
								<span>Hesabın var mı? <a href="/">Giriş Yap</a></span>
		      				</div>

							@*error message*@ 
							<div class="form-group" style="text-align:center">
								<img id="img_loading" src="~/images/loading.gif" style="width:40px; height:40px; margin-top:30px" hidden/>
								<p id="p_resultLabel"></p>
							</div>

							@*send button*@
							<div class="form-group">
	            				<button id="btn_send" type="submit" class="btn btn-primary rounded submit p-3 px-5" disabled>Gönder</button>
							</div>
						</div>
						<div id="div_validationCode" hidden>
							@*validation code*@
		      				<div class="form-group">
		      					<input id="inpt_validationCode" type="text" class="form-control rounded-left" placeholder="" required>
		      				</div>

							@*login message*@
							<div class="form-group" id="div_login">
								<span>Hesabın var mı? <a href="/">Giriş Yap</a></span>
		      				</div>

							@*error message*@ 
							<div class="form-group" style="text-align:center">
								<img id="img_loading" src="~/images/loading.gif" style="width:40px; height:40px; margin-top:30px" hidden/>
								<p id="p_resultLabel"></p>
							</div>

							@*login button*@
							<div class="form-group">
	            				<button id="btn_send" type="button" class="btn btn-primary rounded submit p-3 px-5" disabled>Gönder</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>


<script></script>
<script type="module" src="~/js/miar_register.js"></script>